h1{
    color: aliceblue;
}
h4{
    color: red ;
}
#aa{
    color: blue;
    font-family: 'Times New Roman';
    font-weight: 200;
    color: (95);
}
 .aaa{
    color: aqua;
}
.aaaa{
    
    color: black ;
}
